import type { MessagePage } from "../server/db";
import { withSearch } from "../utils/url";

export interface Input {
  page: MessagePage | Promise<MessagePage>;
  viewerId: string;
  /** The message being edited, if any. */
  editId?: string;
  /** The current page's URL; links keep its other search parameters. */
  url: URL;
}

<const/returnUrl=withSearch(input.url, { edit: undefined })>

<try>
  <@placeholder>
    <p>Loading messages...</p>
  </@placeholder>
  <await|page|=input.page>
    <if=page.older>
      <a href=withSearch(input.url, { cursor: page.older, edit: undefined }) rel="prev">
        Previous
      </a>
    </if>
    <ol class="messages">
      <for|message| of=page.messages by="id">
        <app-message
          message=message
          viewerId=input.viewerId
          editing=message.id === input.editId
          returnUrl=returnUrl
          editHref=withSearch(input.url, { edit: message.id })
        />
      </for>
    </ol>
    <if=page.newer>
      <a href=withSearch(input.url, { cursor: page.newer, edit: undefined }) rel="next">
        Next
      </a>
    </if>
  </await>
</try>
