import type { Message } from "../server/db";

export interface Input {
  message: Message;
  viewerId: string;
  /** Shown in place of the message's text, such as an edit form. */
  text?: Marko.AttrTag<{ content: Marko.Body }>;
  /** Controls shown after the reactions. */
  content?: Marko.Body;
}

<const/{ message }=input>

<li class="message">
  <div>
    <span class="message-author">${message.authorName}</span>
    <if=input.text>
      <${input.text.content}/>
    </if>
    <else>
      <span>${message.text}</span>
    </else>
  </div>
  <div>
    <app-message-reactions
      messageId=message.id
      reactions=message.reactions
      viewerId=input.viewerId
    />
    <${input.content}/>
  </div>
</li>
