import type { User } from "../server/db";

export interface Input {
  title: string;
  members: User[] | Promise<User[]>;
}

<details open>
  <summary>${input.title}</summary>
  <try>
    <@placeholder>Loading...</@placeholder>
    <await|members|=input.members>
      <ul>
        <for|member| of=members by="id">
          <li>
            <app-status-icon status=member.status/>
            <span>${member.displayName}</span>
          </li>
        </for>
      </ul>
    </await>
  </try>
</details>
