<form method="post" action=Run.href("/channels")>
  <const/error=$global.session?.get("POST:/channels")>
  <if=error>
    <p class="error" role="alert">${error.message}</p>
  </if>
  <label>
    <if=error?.fields?.name>
      <p class="error" role="alert">${error.fields.name}</p>
    </if>
    <input type="text" name="name">
  </label>
  <button type="submit">New</button>
</form>
