import type { Channel } from "../server/db";

export interface Input {
  channels: Channel[] | Promise<Channel[]>;
  activeSlug?: string;
}

<try>
  <@placeholder>
    <p>Loading...</p>
  </@placeholder>
  <await|channels|=input.channels>
    <ul>
      <for|channel| of=channels by="id">
        <li>
          <a
            href=Run.href("/channels/$slug", { params: { slug: channel.slug } })
            aria-current=(channel.slug === input.activeSlug && "page")
          >
            ${channel.name}
          </a>
        </li>
      </for>
    </ul>
  </await>
</try>
