export interface Input<T> {
  value: T;
  placeholder?: Marko.AttrTag<{ content: Marko.Body }>;
  content: Marko.Body<[Awaited<T>]>;
}

<try>
  <@placeholder>
    <if=input.placeholder>
      <${input.placeholder.content}/>
    </if>
    <else>
      <p>Loading...</p>
    </else>
  </@placeholder>
  <await|value|=input.value>
    <${input.content}(value)/>
  </await>
</try>
