<const/{ messages, error }=$global.data>

<ol class='messages'>
  <for|message| of=messages by='id'>
    <li class='message'>
      <span class='message-author'>${message.author}</span><span>${message.text}</span>
    </li>
  </for>
</ol>

<form class='composer' method='post'>
  <if=error>
    <p class='error' role='alert'>${error}</p>
  </if>
  <input autocomplete='nickname' name='author' placeholder='Name (optional)'>
  <textarea name='text' placeholder='Type a message' required rows='3'/>
  <button type='submit'>Send</button>
</form>
