import styles from "../ui-section/style.module.css";

export interface Input {
  heading: string;
  content?: Marko.Body;
}

<details class=[styles.section, styles.collapsible] open>
  <summary class=[styles.head, styles.summary]>
    <h2 class=styles.heading>${input.heading}</h2>
    <ui-icon name="chevron-down"/>
  </summary>
  <div class=styles.body>
    <${input.content}/>
  </div>
</details>
