<const/{
  userId,
  editId,
  me,
  channelList,
  activeChannel,
  messages,
  onlineMembers,
  offlineMembers,
}=$global.data>
<const/{ slug }=$global.params>

<header>
  <app-logout-form/>
  <app-status-menu user=me/>
</header>

<nav class="channels">
  <app-channel-list channels=channelList activeSlug=slug/>
  <app-channel-form/>
</nav>

<section class="active">
  <ui-await|channel| value=activeChannel>
    <@placeholder>
      <h1>${slug}</h1>
      <p>Loading...</p>
    </@placeholder>
    <if=channel>
      <h1>${channel.name}</h1>
      <div class="scroll">
        <app-message-list
          page=messages
          viewerId=userId
          editId=editId
          url=$global.url
        />
      </div>
      <app-message-composer channelSlug=channel.slug/>
    </if>
    <else>
      <h1>Whoops</h1>
      <p>Looks like this channel doesn't exist</p>
    </else>
  </ui-await>
</section>

<aside class="members">
  <app-member-list title="Online" members=onlineMembers/>
  <app-member-list title="Offline" members=offlineMembers/>
</aside>
