import type { IconInput } from "../ui-icon/index.marko";

export type Input = IconInput;

<ui-icon label=input.label>
  <path d="M9.5 3.5 7.5 20.5M16.5 3.5l-2 17M4 8.5h16.5M3.5 15.5h16.5"/>
</ui-icon>
