import type { IconInput } from "../ui-icon/index.marko";

export type Input = IconInput;

<ui-icon label=input.label>
  <circle cx="5" cy="12" r="2.2" fill="currentColor" stroke="none"/>
  <circle cx="12" cy="12" r="2.2" fill="currentColor" stroke="none"/>
  <circle cx="19" cy="12" r="2.2" fill="currentColor" stroke="none"/>
</ui-icon>
