import type { IconName } from "../ui-icon/index.marko";
import styles from "../ui-menu-button/style.module.css";

export interface Input extends Marko.HTML.A {
  icon?: IconName;
  current?: boolean;
}

<const/{ icon, current, ...rest }=input>
<const/classes=[styles.item, input.class]>

<a ...rest class=classes aria-current=current && "true">
  <if=icon>
    <ui-icon name=icon/>
  </if>
  <${input.content}/>
</a>
