import type { IconInput } from "../ui-icon/index.marko";

export type Input = IconInput;

<ui-icon label=input.label>
  <path d="M21 3 3 10.5l7.5 3L21 3z"/>
  <path d="M21 3l-7.5 18-3-7.5"/>
</ui-icon>
