import styles from "./style.module.css";

export interface Input {
  heading: string;
  action?: Marko.AttrTag<{ content: Marko.Body }>;
  content?: Marko.Body;
}

<section class=styles.section>
  <div class=styles.head>
    <h2 class=["eyebrow", styles.heading]>${input.heading}</h2>
    <${input.action}/>
  </div>
  <${input.content}/>
</section>
