import type { IconInput } from "../ui-icon/index.marko";

export type Input = IconInput;

<ui-icon label=input.label>
  <circle cx="10.5" cy="13.5" r="7.5"/>
  <path d="M7.8 15.6c.7.9 1.6 1.4 2.7 1.4s2-.5 2.7-1.4"/>
  <path d="M8 11.2h.01M13 11.2h.01"/>
  <path d="M19.5 2v6M16.5 5h6"/>
</ui-icon>
