import type { IconInput } from "../ui-icon/index.marko";

export type Input = IconInput;

// A circle arrow turning clockwise
<ui-icon label=input.label>
  <path d="M19.5 13.5a7.5 7.5 0 1 1-2.2-6.8"/>
  <path d="M19.5 3.5v4.5H15"/>
</ui-icon>
